* {
	color: var(--grey-dark);
	margin: 0;
}

/* Настройка стилей обложки */
.cover_wrap {
	font-family: Montserrat;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: red;
}

.cover_center {
	position: fixed;
	color: white;
	font-weight: 700;
	font-size: 42px;
	font-family: Montserrat;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
}

.cover_logo {
	margin-bottom: 64px;
}

.cover_title {
	font-family: Montserrat !important;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 24px;
}

.cover_version {
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	margin-bottom: 14px;
}

.cover_update {
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}
