/* Настройка нижнего колонтитула, если он нужен  */
* {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-size: 10px;
	line-height: 12px;
}

body {
	margin-left: 42px;
	margin-right: 42px;
}

footer {
	height: 36px;
	padding-top: 12px;
	width: 100%;
	position: relative;
}

footer .company {
	color: #9ca3af;
	width: 50%;
	white-space: nowrap;
}

footer .info {
	color: #9ca3af;
	min-width: 200px;
	text-align: right;
	position: absolute;
	right: 0;
	display: inline-block;
	white-space: nowrap;
}

.red {
	background: red;
}
